In [ ]:
import numpy as np
import pandas as pd

In [ ]:
india = {"Regin" : "South Asia",
         "Area" : 3287259 ,
         "Official Language" : "Hindi",
         "Government" : "Federal parliamentary republic",
        "Indepence" : 1947,
         "Population": 1393409000,
         "Populationdensity" : 423,
         "Lifeexpentency" : 69,
         "costofliving" : 45}

In [ ]:
india

{'Regin': 'South Asia',
 'Area': 3287259,
 'Official Language': 'Hindi',
 'Government': 'Federal parliamentary republic',
 'Indepence': 1947,
 'Population': 1393409000,
 'Populationdensity': 423,
 'Lifeexpentency': 69,
 'costofliving': 45}

In [ ]:
pakistan = {"Regin": "South Asia",
         "Area": 796100 ,
         "Official Language": "urdu",
         "Government": "Federal parliamentary republic",
        "Indepence": 1947,
         "Population": 225200000,
         "Populationdensity": 282.9,
         "Lifeexpentency": 66,
         "costofliving": 63

         }

In [ ]:
pakistan

{'Regin': 'South Asia',
 'Area': 796100,
 'Official Language': 'urdu',
 'Government': 'Federal parliamentary republic',
 'Indepence': 1947,
 'Population': 225200000,
 'Populationdensity': 282.9,
 'Lifeexpentency': 66,
 'costofliving': 63}

In [ ]:
Russia = {"Regin": "Eastern Europe",
         "Area":17098250 ,
         "Official Language": "Russian",
         "Government": "Federal republic",
        "Indepence":1991,
         "Population":143446000,
         "Populationdensity":8.4,
         "Lifeexpentency":66,
         "costofliving":62}

In [ ]:
Russia

{'Regin': 'Eastern Europe',
 'Area': 17098250,
 'Official Language': 'Russian',
 'Government': 'Federal republic',
 'Indepence': 1991,
 'Population': 143446000,
 'Populationdensity': 8.4,
 'Lifeexpentency': 66,
 'costofliving': 62}

In [ ]:
Vietnam= {"Regin": "South Asia",
         "Area":331230 ,
         "Official Language": "Vietnamese",
         "Government":  "republic",
        "Indepence":1945,
         "Population":98169000,
         "Populationdensity":296.4,
         "Lifeexpentency":71,
         "costofliving":51}

In [ ]:
Vietnam

{'Regin': 'South Asia',
 'Area': 331230,
 'Official Language': 'Vietnamese',
 'Government': 'republic',
 'Indepence': 1945,
 'Population': 98169000,
 'Populationdensity': 296.4,
 'Lifeexpentency': 71,
 'costofliving': 51}

In [ ]:
Israel = {"Regin": "western asia",
         "Area":22070 ,
         "Official Language": "hebrew",
         "Government": "Parliamentary republic democracy",
        "Indepence":1948,
         "Population":9364000,
         "Populationdensity":424.3,
         "Lifeexpentency":81,
         "costofliving":36}

In [ ]:
Israel

{'Regin': 'western asia',
 'Area': 22070,
 'Official Language': 'hebrew',
 'Government': 'Parliamentary republic democracy',
 'Indepence': 1948,
 'Population': 9364000,
 'Populationdensity': 424.3,
 'Lifeexpentency': 81,
 'costofliving': 36}

In [ ]:
Argentina = {"Regin" : "south america",
         "Area" :2780400 ,
         "Official Language" : "spanish",
         "Government" : "Presidential republic",
        "Indepence": 1816,
         "Population" : 45809000,
         "Populationdensity" : 16.5,
         "Lifeexpentency" : 73,
         "costofliving" : 41}

In [ ]:
Jordan = {"Regin" : "western asia",
        "Area": 89320 ,
        "Official Language" : "Arabic",
        "Government" : "Parliamentary constitutional monarchy",
        "Indepence" : 1946,
        "Population" : 10269000,
        "Populationdensity" : 115,
        "Lifeexpentency" : 76,
        "costofliving" : 45}

In [ ]:
df = pd.DataFrame([india,pakistan,Russia,Argentina,Israel,Vietnam,Jordan], index =['india','pakistan','Russia','Argentina','Israel','Vietnam','Jordan'] )

In [ ]:
df

,Regin,Area,Official Language,Government,Indepence,Population,Populationdensity,Lifeexpentency,costofliving
india,South Asia,3287259,Hindi,Federal parliamentary republic,1947,1393409000,423.0,69,45
pakistan,South Asia,796100,urdu,Federal parliamentary republic,1947,225200000,282.9,66,63
Russia,Eastern Europe,17098250,Russian,Federal republic,1991,143446000,8.4,66,62
Argentina,south america,2780400,spanish,Presidential republic,1816,45809000,16.5,73,41
Israel,western asia,22070,hebrew,Parliamentary republic democracy,1948,9364000,424.3,81,36
Vietnam,South Asia,331230,Vietnamese,republic,1945,98169000,296.4,71,51
Jordan,western asia,89320,Arabic,Parliamentary constitutional monarchy,1946,10269000,115.0,76,45

In [ ]:
df['Indepence'].min()

1816

In [ ]:
df1 = df[df.Indepence == df.Indepence.min()]

In [ ]:
df1

,Regin,Area,Official Language,Government,Indepence,Population,Populationdensity,Lifeexpentency,costofliving
Argentina,south america,2780400,spanish,Presidential republic,1816,45809000,16.5,73,41

In [ ]:
df2 = df.sort_values("Indepence",ascending = True).head(1)

In [ ]:
df2

,Regin,Area,Official Language,Government,Indepence,Population,Populationdensity,Lifeexpentency,costofliving
Argentina,south america,2780400,spanish,Presidential republic,1816,45809000,16.5,73,41

In [ ]:
df3 = df[df.Regin == "South Asia"]

In [ ]:
df3

,Regin,Area,Official Language,Government,Indepence,Population,Populationdensity,Lifeexpentency,costofliving
india,South Asia,3287259,Hindi,Federal parliamentary republic,1947,1393409000,423.0,69,45
pakistan,South Asia,796100,urdu,Federal parliamentary republic,1947,225200000,282.9,66,63
Vietnam,South Asia,331230,Vietnamese,republic,1945,98169000,296.4,71,51

In [ ]:
dict1= df.groupby("Regin").groups

In [ ]:
dict1

{'Eastern Europe': ['Russia'], 'South Asia': ['india', 'pakistan', 'Vietnam'], 'south america': ['Argentina'], 'western asia': ['Israel', 'Jordan']}

Print all the groups

In [ ]:
grouped = df.groupby(["Regin"])

In [ ]:
for regin, group in grouped:
    print(regin)
    print(group[["Regin","Area"]])
    print("-------------------\n")

Eastern Europe
                 Regin      Area
Russia  Eastern Europe  17098250
-------------------

South Asia
               Regin     Area
india     South Asia  3287259
pakistan  South Asia   796100
Vietnam   South Asia   331230
-------------------

south america
                   Regin     Area
Argentina  south america  2780400
-------------------

western asia
               Regin   Area
Israel  western asia  22070
Jordan  western asia  89320
-------------------

Aggregration

In [ ]:
df.groupby(["Regin"]).agg(sum)

,Area,Indepence,Population,Populationdensity,Lifeexpentency,costofliving
Regin,,,,,,
Eastern Europe,17098250,1991,143446000,8.4,66,62
South Asia,4414589,5839,1716778000,1002.3,206,159
south america,2780400,1816,45809000,16.5,73,41
western asia,111390,3894,19633000,539.3,157,81

In [ ]:
df.groupby(["Official Language"]).agg("min")["Lifeexpentency"]

Official Language
Arabic        76
Hindi         69
Russian       66
Vietnamese    71
hebrew        81
spanish       73
urdu          66
Name: Lifeexpentency, dtype: int64

In [ ]:
df.to_csv("MyCountries.csv")