**let's get start pandas**

In [ ]:
import pandas as pd
from pandas import DataFrame,Series

**Creation of Series**

In [ ]:
s1  = Series(['monday','tuesday','wednesday','thursday','friday'])

In [ ]:
s1

0       monday
1      tuesday
2    wednesday
3     thursday
4       friday
dtype: object

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
s1[3]

'thursday'

let's talk about dataframe

In [ ]:
sales_data = {"january":9900,"feb":5000,"march":3000,"april":4000,"may":6000 }

In [ ]:
sales_data

{'january': 9900, 'feb': 5000, 'march': 3000, 'april': 4000, 'may': 6000}

In [ ]:
type(sales_data)

dict

In [ ]:
sales_data = Series(sales_data)

In [ ]:
sales_data>5000

january     True
feb        False
march      False
april      False
may         True
dtype: bool

In [ ]:
 sales_data[sales_data>5000]

january    9900
may        6000
dtype: int64

In [ ]:
math = Series({"John":90,"Peter":50,"Becca":100, "Carlos": 95,"Bert":100})

In [ ]:
math

John       90
Peter      50
Becca     100
Carlos     95
Bert      100
dtype: int64

In [ ]:
science = Series({"Bert":95, "Don":35,"Stephen":100,"John":100,"Peter":100})

In [ ]:
science

Bert        95
Don         35
Stephen    100
John       100
Peter      100
dtype: int64

In [ ]:
math + science

Becca        NaN
Bert       195.0
Carlos       NaN
Don          NaN
John       190.0
Peter      150.0
Stephen      NaN
dtype: float64

In [ ]:
my_avg = (math+science)/2

In [ ]:
my_avg

Becca       NaN
Bert       97.5
Carlos      NaN
Don         NaN
John       95.0
Peter      75.0
Stephen     NaN
dtype: float64

In [ ]:
my_avg.dropna(inplace=True)

In [ ]:
my_avg

Bert     97.5
John     95.0
Peter    75.0
dtype: float64

**DataFrame**

In [ ]:
df = DataFrame([math,science])

In [ ]:
df

    John  Peter  Becca  Carlos   Bert   Don  Stephen
0   90.0   50.0  100.0    95.0  100.0   NaN      NaN
1  100.0  100.0    NaN     NaN   95.0  35.0    100.0

In [ ]:
df2 = DataFrame({"math": math,"science":science})

In [ ]:
df2

          math  science
Becca    100.0      NaN
Bert     100.0     95.0
Carlos    95.0      NaN
Don        NaN     35.0
John      90.0    100.0
Peter     50.0    100.0
Stephen    NaN    100.0

In [ ]:
df2['math']

Becca      100.0
Bert       100.0
Carlos      95.0
Don          NaN
John        90.0
Peter       50.0
Stephen      NaN
Name: math, dtype: float64

In [ ]:
df2.math

Becca      100.0
Bert       100.0
Carlos      95.0
Don          NaN
John        90.0
Peter       50.0
Stephen      NaN
Name: math, dtype: float64

In [ ]:
df2[df2.math>50]

         math  science
Becca   100.0      NaN
Bert    100.0     95.0
Carlos   95.0      NaN
John     90.0    100.0

Queotes

In [ ]:
workday = "monday"

In [ ]:
workday

'monday'

In [ ]:
work_day = 'monday'

In [ ]:
work_day

'monday'

In [ ]:
message = "i 'm hungry"

In [ ]:
message

"i 'm hungry"

In [ ]:
poem = """

This is a goog day
We have to go there
I don't know how to continue this
to look like a good poem
"""

In [ ]:
poem

"\n\nThis is a goog day\nWe have to go there\nI don't know how to continue this\nto look like a good poem\n"

In [ ]:
first_flight = "August 17,2023"
second_flight = "July 17, 2023"

In [ ]:
message= f"your secondflight date is prior to the firstflight"

In [ ]:
message

'your secondflight date is prior to the firstflight'

In [ ]:
message= f"your second flight {second_flight} date is prior to the first flight {first_flight}"

In [ ]:
message

'your second flight July 17, 2023 date is prior to the first flight August 17,2023'

**Reading dataframe from the file**

In [ ]:
df = pd.read_csv("SuperStoreUS_2015.csv")

In [ ]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,1/7/2015,1/8/2015,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,6/13/2015,6/15/2015,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2/15/2015,2/17/2015,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,5/12/2015,5/14/2015,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,5/12/2015,5/13/2015,-24.0300,7,22.23,86838

In [ ]:
df.shape

(1952, 25)

In [ ]:
ncol = df.shape[1]

In [ ]:
ncol

25

In [ ]:
df.dtypes

Row ID                    int64
Order Priority           object
Discount                float64
Unit Price              float64
Shipping Cost           float64
Customer ID               int64
Customer Name            object
Ship Mode                object
Customer Segment         object
Product Category         object
Product Sub-Category     object
Product Container        object
Product Name             object
Product Base Margin     float64
Country                  object
Region                   object
State or Province        object
City                     object
Postal Code               int64
Order Date               object
Ship Date                object
Profit                  float64
Quantity ordered new      int64
Sales                   float64
Order ID                  int64
dtype: object

In [ ]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Country', 'Region',
       'State or Province', 'City', 'Postal Code', 'Order Date', 'Ship Date',
       'Profit', 'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [ ]:
new_df  = df[df.Discount > 0.05]

In [ ]:
new_df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2/15/2015,2/17/2015,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,5/12/2015,5/14/2015,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,5/12/2015,5/13/2015,-24.0300,7,22.23,86838
12,24063,Not Specified,0.07,12.99,9.44,19,Jim Rodgers,Regular Air,Small Business,Technology,...,West,Montana,Missoula,59801,5/21/2015,5/23/2015,-114.6399,18,231.79,90032
14,6062,Not Specified,0.08,5.00,3.39,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,East,New York,New York City,10012,5/21/2015,5/22/2015,-17.4900,58,293.06,42949

In [ ]:
new_df.shape

(844, 25)

In [ ]:
type(new_df)

pandas.core.frame.DataFrame

In [ ]:
my_columns = ['Discount','Unit Price', 'Shipping Cost','Customer ID', 'Customer Name']

In [ ]:
updated_df= df[my_columns]

In [ ]:
updated_df

      Discount  Unit Price  Shipping Cost  Customer ID      Customer Name
0         0.01        2.84           0.93            3      Bonnie Potter
1         0.02      500.98          26.00            5     Ronnie Proctor
2         0.06        9.48           7.29           11      Marcus Dunlap
3         0.09       78.69          19.99           14  Gwendolyn F Tyson
4         0.08        3.28           2.31           14  Gwendolyn F Tyson
...        ...         ...            ...          ...                ...
1947      0.01       10.90           7.46         3397        Andrea Shaw
1948      0.10        7.99           5.03         3397        Andrea Shaw
1949      0.08       11.97           5.81         3399        Marvin Reid
1950      0.10        9.38           4.93         3400      Florence Gold
1951      0.10      105.98          13.99         3403      Tammy Buckley

[1952 rows x 5 columns]

In [ ]:
updated_df["Toatal Cost"] = updated_df["Unit Price"] * updated_df["Shipping Cost"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
updated_df

,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Toatal Cost
0,0.01,2.84,0.93,3,Bonnie Potter,2.6412
1,0.02,500.98,26.00,5,Ronnie Proctor,13025.4800
2,0.06,9.48,7.29,11,Marcus Dunlap,69.1092
3,0.09,78.69,19.99,14,Gwendolyn F Tyson,1573.0131
4,0.08,3.28,2.31,14,Gwendolyn F Tyson,7.5768
...,...,...,...,...,...,...
1947,0.01,10.90,7.46,3397,Andrea Shaw,81.3140
1948,0.10,7.99,5.03,3397,Andrea Shaw,40.1897
1949,0.08,11.97,5.81,3399,Marvin Reid,69.5457
1950,0.10,9.38,4.93,3400,Florence Gold,46.2434
1951,0.10,105.98,13.99,3403,Tammy Buckley,1482.6602